body, html {
  text-align: center;
  margin: 0;
  height: 100%;
  width: 100%;
  background: #f8f8f8;
}
/* Navigation bar */
.nav {
  background-color: rgba(61,124,160, 0.6);
  margin: 0;
  padding: 0 15px;
}
.nav ul { 
  padding: 10px;
  background-color: rgba(61,124,160, 0.6);
  float: left;
  position: absolute;
  width: 100%;
  left: 0;
  margin:0 auto 10px;
  width: 100%;
  display: block;
  top: 0;
  z-index: 100;
}
.nav li {
  display: inline-block; 
  padding: 0px 10px 0px 6px;
  margin-right: 7px;
  float: left;
  padding-left: 1.5em;
  padding-top: 0.3em;
}
.nav a {
  display: inline-block;
  font-size: 0.9em;
  text-decoration: none;
  color: white;
}
.nav a:hover {
  color: lightgray;
}
/* Main marketing content */
.layer {
  background: url('https://lambdaschool.com/assets/img/background.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  color: white;
  font-weight: bold;
}
.intro {
  padding-top: 3em;
  padding-bottom: 3em;
  background-color: rgba(61,124,160, 0.6);
}
.intro>h1 {
  font-size: 4em;
}
/* Header buttons */
.button {
  padding: 1.2em;
  width: 15%;
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
}
#button-courses {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
#apply-button {
  background-color: white;
  color: rgb(90,154,190);
  border: 1px solid white;
}
/* What it's about */
section {
  margin-top: 75px;
}
section>h1 {
  font-size: 2em;
}
section>p {
  color: gray;
  font-size: 1.5em;
}
.first-text {
  float: left;
  padding-left: 16em;
  font-size: 1.3em;
}
.first-text>p {
  color: gray;
}
.second-text {
  float: left;
  padding-left: 3em;
  font-size: 1.3em;
}
.second-text>p {
  color: gray;
}
/* Contains boxes, etc. */
#next-section {
  margin-top: 20em;
  padding-top: 20px;
  padding-bottom: 5em;
  background-color: rgb(244, 244, 244);
}
/* Boxes for CS/Machine Learning */
#box-text1 {
  width: 40%;
  background-color: rgb(255, 255, 255);
  padding-top: 1em;
  padding-bottom: 2em;
  padding-right: 5em;
  margin-left: 5em;
  float: left;
  margin: 0;
}
#box-text1>p:first-child {
  border-bottom: 2px solid whitesmoke;
  margin: 1.625em 0;
}
#box-text1>button {
  padding: 1.2em;
  width: 30%;
  background-color: rgb(66,143,187);
  color: white;
  border: none;
  font-size: .8em;
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
}
#box-text1:hover {
  box-shadow: 0.1em 0.1em 0.4em;
}
/* AI text box */
#box-text2 {
  width: 40%;
  background-color: rgb(255, 255, 255);
  padding-top: 1em;
  padding-bottom: 2em;
  margin-left: 40em;
  float: right;
  display: inline-block;
  margin: 0;
  margin-right: 50px;
}
#box-text2>button {
  padding: 1.2em;
  width: 30%;
  background-color: rgb(66,143,187);
  color: white;
  border: none;
  font-size: .8em;
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
}
#box-text2>p:first-child {
  border-bottom: 2px solid whitesmoke;
  margin: 1.625em 0;
}
#box-text2:hover {
  box-shadow: 0.1em 0.1em 0.4em;
}
#thisID {
  background-color: rgb(255, 255, 255);
}
#blueimg {
  position: absolute;
  height: 100%;
  left: 0;;
  margin-top: 25em;
  background-size: cover!important;
  background-position: 60% 60%!important;
  z-index: 0;
  clip: rect(0, 400px, 600px, 0);
}